# Dependency directories
node_modules

# Build output
dist
.angular/cache

# Editor/VCS files
.git
.gitignore
.editorconfig
.vscode

# Docker files themselves
Dockerfile
docker-compose.yml
docker-compose*.yml
nginx.conf
